.version.about /* version checker */
{
	color: #000011;
	background-color: #31332D;
}

#page
{
	z-index: 1;
	min-height: 659.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20.049999999999955px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u1266
{
	z-index: 5;
	min-height: 62px;
	background-color: #FFFFFF;
}

#u1266_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#menuu1247
{
	z-index: 28;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 38.44%;
	left: 30.73%;
}

#u1248
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.4%;
}

#u1249
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u1249:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1250
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	background: url("../images/u1250.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1250 .fluid_height_spacer
{
	padding-bottom: 25.555555555555554%;
}

#u1249.MuseMenuActive #u1250
{
	background: url("../images/u1250-a.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1255
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 24.94%;
}

#u1258
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u1258:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1261
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	background: url("../images/u1261.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1258.MuseMenuActive #u1261
{
	background: url("../images/u1261-a.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1499
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 50.14%;
}

#u1500
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u1500:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1249:active,#u1258:active,#u1500:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1503
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	background: url("../images/u1503.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1261 .fluid_height_spacer,#u1503 .fluid_height_spacer
{
	padding-bottom: 25.274725274725274%;
}

#u1500.MuseMenuActive #u1503
{
	background: url("../images/u1503-a.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1350
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 75.34%;
}

#u1351
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u1351.MuseMenuActive
{
	background-color: transparent;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1354-4
{
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	left: 0%;
}

#u1354-4_clip
{
	overflow: hidden;
	height: 23px;
	vertical-align: top;
	width: 100%;
}

#u1354-4_img
{
	display: block;
	width: 100%;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1266-bw
{
	z-index: 5;
	min-height: 62px;
}

#pu1240
{
	width: 100%;
}

#u1240
{
	z-index: 2;
	min-height: 550px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1240-bw
{
	z-index: 2;
	min-height: 550px;
	margin-top: 6px;
}

#u1242
{
	z-index: 3;
	min-height: 550px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1242-bw
{
	z-index: 3;
	min-height: 550px;
	margin-top: 6px;
}

#u1241
{
	z-index: 4;
	min-height: 550px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1241-bw
{
	z-index: 4;
	min-height: 550px;
	margin-top: 6px;
}

#u1269
{
	z-index: 6;
	height: 583px;
	background-color: #FF5E54;
}

#u1269-bw
{
	z-index: 6;
	height: 583px;
}

#u1267
{
	z-index: 7;
	min-height: 550px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1267-bw
{
	z-index: 7;
	min-height: 550px;
	margin-top: 6px;
}

#u1587-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	width: 39.59%;
	left: 36.05%;
}

#u1590-12
{
	z-index: 12;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	width: 56.36%;
	left: 21.88%;
}

#u1599-4
{
	z-index: 24;
	min-height: 19px;
	background-color: transparent;
	color: #FFA085;
	margin-top: 23px;
	position: relative;
	width: 27.71%;
	margin-left: 2.5%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

