.version.index /* version checker */
{
	color: #0000E5;
	background-color: #03556E;
}

#page
{
	z-index: 1;
	min-height: 659.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20.049999999999955px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u775
{
	z-index: 5;
	min-height: 62px;
	background-color: #FFFFFF;
}

#u775_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#menuu780
{
	z-index: 13;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 38.44%;
	left: 30.73%;
}

#u855
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.4%;
}

#u856
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u856.MuseMenuActive
{
	background-color: transparent;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u859-4
{
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	left: 0%;
}

#u859-4_clip
{
	overflow: hidden;
	height: 23px;
	vertical-align: top;
	width: 100%;
}

#u859-4_img
{
	display: block;
	width: 100%;
}

#u802
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 24.94%;
}

#u803
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u803:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u804
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	background: url("../images/u804.png") no-repeat 0px 0px;
	background-size: contain;
}

#u803.MuseMenuActive #u804
{
	background: url("../images/u804-a.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1457
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 50.14%;
}

#u1458
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u1458:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1459
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	background: url("../images/u1459.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1458.MuseMenuActive #u1459
{
	background: url("../images/u1459-a.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1308
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 75.34%;
}

#u1309
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u1309:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u803:active,#u1458:active,#u1309:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1310
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	background: url("../images/u1310.png") no-repeat 0px 0px;
	background-size: contain;
}

#u804 .fluid_height_spacer,#u1459 .fluid_height_spacer,#u1310 .fluid_height_spacer
{
	padding-bottom: 25.274725274725274%;
}

#u1309.MuseMenuActive #u1310
{
	background: url("../images/u1310-a.png") no-repeat 0px 0px;
	background-size: contain;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u775-bw
{
	z-index: 5;
	min-height: 62px;
}

#ppu876
{
	width: 100%;
}

#pu876
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 212px;
}

#u876
{
	z-index: 35;
	width: 535px;
	min-height: 214px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 50px;
	line-height: 60px;
	font-family: SF Slapstick Comic;
	position: relative;
}

#u966
{
	z-index: 8;
	width: 190px;
	min-height: 89px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	font-family: DK Cinnabar Brush;
	margin-left: 170px;
	margin-top: 85px;
	position: relative;
}

#u946
{
	z-index: 2;
	min-height: 550px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u946-bw
{
	z-index: 2;
	min-height: 550px;
	margin-top: 6px;
}

#u951
{
	z-index: 3;
	min-height: 550px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u951-bw
{
	z-index: 3;
	min-height: 550px;
	margin-top: 6px;
}

#u956
{
	z-index: 4;
	min-height: 550px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u956-bw
{
	z-index: 4;
	min-height: 550px;
	margin-top: 6px;
}

#u881
{
	z-index: 6;
	height: 583px;
	background-color: #FF5E54;
}

#u881-bw
{
	z-index: 6;
	height: 583px;
}

#u961
{
	z-index: 7;
	min-height: 550px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u961-bw
{
	z-index: 7;
	min-height: 550px;
	margin-top: 6px;
}

#u1567-8
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	width: 64.9%;
	left: 17.09%;
}

#u1571-4
{
	z-index: 9;
	min-height: 19px;
	background-color: transparent;
	color: #FFA085;
	margin-top: 23px;
	position: relative;
	width: 27.71%;
	margin-left: 2.82%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

