.version.story /* version checker */
{
	color: #000002;
	background-color: #6007A6;
}

#page
{
	z-index: 1;
	min-height: 679.9500000000012px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u491
{
	z-index: 4;
	min-height: 62px;
	background-color: #FF5E54;
}

#u491_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u455-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 43.34%;
	left: 3.44%;
}

#menuu104
{
	z-index: 10;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 38.44%;
	left: 60.11%;
}

#u813
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.4%;
}

#u814
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u814:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u815
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	background: url("../images/u815.png") no-repeat 0px 0px;
	background-size: contain;
}

#u815 .fluid_height_spacer
{
	padding-bottom: 25.555555555555554%;
}

#u814.MuseMenuActive #u815
{
	background: url("../images/u815-a.png") no-repeat 0px 0px;
	background-size: contain;
}

#u112
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 24.94%;
}

#u113
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u113.MuseMenuActive
{
	background-color: transparent;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u114-4
{
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	left: 0%;
}

#u114-4_clip
{
	overflow: hidden;
	height: 23px;
	vertical-align: top;
	width: 100%;
}

#u114-4_img
{
	display: block;
	width: 100%;
}

#u1478
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 50.14%;
}

#u1479
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u1479:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1480
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	background: url("../images/u1480.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1479.MuseMenuActive #u1480
{
	background: url("../images/u1480-a.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1329
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 75.34%;
}

#u1330
{
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u1330:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u814:active,#u1479:active,#u1330:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1331
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
	background: url("../images/u1331.png") no-repeat 0px 0px;
	background-size: contain;
}

#u1480 .fluid_height_spacer,#u1331 .fluid_height_spacer
{
	padding-bottom: 25.274725274725274%;
}

#u1330.MuseMenuActive #u1331
{
	background: url("../images/u1331-a.png") no-repeat 0px 0px;
	background-size: contain;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u491-bw
{
	z-index: 4;
	min-height: 62px;
}

#pu1608
{
	width: 100%;
}

#u1608
{
	z-index: 2;
	height: 715px;
	background-color: #484848;
}

#u1608-bw
{
	z-index: 2;
	height: 715px;
}

#u1541
{
	z-index: 5;
	min-height: 400px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1541-bw
{
	z-index: 5;
	min-height: 400px;
	margin-top: 97px;
}

#u1722
{
	z-index: 36;
	height: 538px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 44.17%;
	left: 27.92%;
}

#u1611
{
	z-index: 3;
	background-color: #484848;
	padding-bottom: 20px;
	position: relative;
	width: 100%;
}

#u1602-4
{
	z-index: 6;
	min-height: 19px;
	background-color: transparent;
	color: #FFA085;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	width: 27.71%;
	left: 2.71%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

